body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #ffffff;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 6em;
}
header
.nav a, .cerrar-sesion {
  color: rgb(9, 9, 9);
  margin-left: 15px;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
#cerrarSesionBtn{
    a{
        position: relative;
        left: 1000%;
        color: red;
        justify-content: center;
        align-items: center;
    }
}
.nav{
  a{
    position: relative;
    left: 400%;
    color: black;
    justify-content: center;
    align-items: center;
  }
}


/* .cerrar-sesion:hover,
.nav a:hover {
  text-decoration: underline;
} */